@page "/profile"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <h3>Profile Page</h3>
            <p>Welcome, User! You have access to this page.</p>
        </Authorized>
        <NotAuthorized>
            <p>You are not authorized to view this page.</p>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {

}
